<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.foodwhips">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Base Activity for all activities -->
        <activity
            android:name=".activities.BaseActivity"
            android:label="@string/title_activity_base"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme"/>

        <!-- Main Activity -->
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- About Activity -->
        <activity
            android:name=".AboutActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Filter by ingredients activity -->
        <activity
            android:name=".IngredientFilterActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Filter by cuisine activity -->
        <activity
            android:name=".CuisineFilterActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Filter by name activity -->
        <activity
            android:name=".activities.NameFilterActivity"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Search Results Activity -->
        <activity android:name=".activities.SearchResultsActivity"
                  android:windowSoftInputMode="stateHidden"/>

        <!-- Recipe Details Activity -->
        <activity android:name=".activities.RecipeDetailsActivity"
                  android:windowSoftInputMode="stateHidden"/>

        <!-- Internal/Web Browser Activity -->
        <activity android:name=".activities.WebActivity"/>

    </application>
</manifest>